.bold-text {
  font-weight: 700;
}

.brand-color-display {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.navbar-top-fixed {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.temp-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 11px;
}

.temp-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.color-slide-7 {
  background-image: linear-gradient(144deg, rgba(255, 255, 0, 0.3), rgba(132, 255, 255, 0.3));
}

.temp-nav-contruction {
  position: relative;
  padding: 21px 38px 21px 42px;
}

.color-slide-6 {
  background-image: linear-gradient(144deg, rgba(132, 255, 255, 0.3), rgba(255, 255, 0, 0.3));
}

.brand {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 350ms ease, -webkit-transform 200ms ease;
  transition: opacity 350ms ease, -webkit-transform 200ms ease;
  transition: opacity 350ms ease, transform 200ms ease;
  transition: opacity 350ms ease, transform 200ms ease, -webkit-transform 200ms ease;
}

.brand:hover {
  opacity: 0.69;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.heading-typography-h2 {
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 1.333em;
  line-height: 1.777em;
  font-weight: 300;
  text-align: center;
}

.construction-body {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.color-display-slider {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.construction-wrapper {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(210, 254, 255, 0.77);
  border-radius: 7px;
  background-image: url('../images/5c63fd4744c19cc1c02b0e40_Digital-Agency.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 1px 1px 14px 0 rgba(0, 0, 0, 0.5);
}

.temp-hero-content {
  width: 100%;
  color: #fff;
  text-align: center;
}

.brand-span {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-attachment: scroll;
}

.header-typography {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 15px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 2.6em;
  line-height: 1em;
  font-weight: 100;
  text-align: center;
  text-shadow: 1px 1px 0 #90a4ae, 1px 1px 6px rgba(0, 0, 0, 0.35);
}

.link-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-bold {
  font-weight: 700;
}

.hero-welcome-box {
  margin-top: 72px;
  text-align: center;
}

.color-slide-4 {
  background-image: linear-gradient(144deg, rgba(255, 110, 64, 0.3), rgba(178, 255, 89, 0.3));
}

.flex-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.color-slide-2 {
  background-image: linear-gradient(144deg, rgba(83, 109, 254, 0.3), rgba(224, 64, 251, 0.3));
}

.temp-navbar {
  position: relative;
  z-index: 1000;
  margin-top: 17px;
  background-color: transparent;
}

.temp-footer-link {
  display: inline-block;
  color: #f7f7f7;
  font-size: 0.9em;
}

.color-slide-3 {
  background-image: linear-gradient(144deg, rgba(224, 64, 251, 0.3), rgba(238, 255, 65, 0.3));
}

.seperator {
  padding-right: 7px;
  padding-left: 7px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.6em;
  font-weight: 300;
}

.color-slide-5 {
  background-image: linear-gradient(144deg, rgba(178, 255, 89, 0.3), rgba(132, 255, 255, 0.3));
}

.footer-link-3 {
  display: inline-block;
  color: #f7f7f7;
  font-size: 0.9em;
  font-weight: 700;
}

.temp-footer-text {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.6em;
  font-weight: 300;
}

.temp-footer-text.rightside {
  text-align: right;
}

.temp-footer-text.temp-right {
  text-align: right;
}

.hilighter {
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #eeff41;
  color: #26272e;
  font-weight: 700;
}

.temp-tainer {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.construction-content-block {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.colour-spanned {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 65% 65%, rgba(51, 102, 255, 0.8), rgba(101, 31, 255, 0.6) 29%, rgba(213, 0, 0, 0.33));
  opacity: 0.47;
}

.invisible-slide-nav {
  display: none;
}

.mini-title-3 {
  margin-top: 21px;
  margin-bottom: 21px;
  padding-left: 3px;
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
}

.temp-construction {
  display: inline-block;
  margin-top: 42px;
  margin-bottom: 0px;
  padding: 5px 8px;
  color: #fff;
  font-size: 0.9em;
  line-height: 1.333em;
  font-weight: 200;
  text-align: center;
}

.invisible-arrow {
  display: none;
}

.color-slide-1 {
  background-image: linear-gradient(144deg, rgba(132, 255, 255, 0.3), rgba(83, 109, 254, 0.3));
}

@media screen and (max-width: 991px) {
  .temp-hero {
    width: 100%;
  }

  .temp-hero-content {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .seperator {
    font-size: 0.7em;
  }

  .temp-footer-text {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 767px) {
  .temp-footer {
    height: auto;
    text-align: center;
  }

  .temp-hero-content {
    height: auto;
  }

  .temp-footer-text.temp-right {
    text-align: center;
  }

  .temp-construction {
    font-size: 1.333em;
  }
}

@media screen and (max-width: 479px) {
  .temp-nav-contruction {
    padding: 3px 25px;
  }

  .brand.w--current {
    padding: 0px;
  }

  .column {
    margin-bottom: 14px;
  }

  .heading-typography-h2 {
    font-size: 0.6em;
  }

  .temp-hero-content {
    padding-right: 25px;
    padding-left: 25px;
  }

  .header-typography {
    font-size: 1.4em;
  }

  .seperator {
    font-size: 0.6em;
  }

  .temp-footer-text {
    font-size: 0.6em;
  }

  .temp-footer-text.temp-right {
    font-size: 0.6em;
  }

  .mini-title-3 {
    font-size: 0.8em;
  }

  .temp-construction {
    font-size: 0.7em;
  }
}